
.full-width {
  width: 100%;
}

.container {
  height: 100%;
  
  display: flex;
  flex-direction: column;

  .middle {
    flex-grow: 1;

    .code {
      flex-grow: 1;
      font-family: monospace, monospace;
    }
  }
}
