
<div class="container">
  <div class="middle">
    <div [formGroup]="codeGroup">
      <mat-form-field class="full-width code">
        <mat-codemirror formControlName="code"
          [(ngModel)]="code"  
          [options]="{ theme: 'neat', mode: 'yaml' }"
          placeholder="Code"></mat-codemirror>
      </mat-form-field>
      
         <mat-form-field class="full-width code">
          <textarea matInput placeholder="Code"></textarea>
         </mat-form-field>
      
    </div>
  </div>

  <div>
    <button mat-raised-button
      color="primary"
      class="full-width"
      (click)="beautify()">Beautify</button>
  </div>
</div>
