
.full-width {
  width: 100%;
}

.output {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

pre {
  font-family: monospace, monospace;
}

button {
  width: 100%;
}
