
<section class="full-width">
  <mat-checkbox [(ngModel)]="lowerCase">Lower Case</mat-checkbox>
</section>

<section class="full-width">
  <mat-checkbox [(ngModel)]="upperCase">Upper Case</mat-checkbox>
</section>

<section class="full-width">
  <mat-checkbox [(ngModel)]="digits">Digits</mat-checkbox>
</section>

<section class="full-width">
  <mat-checkbox [(ngModel)]="specialChars">Special Chars</mat-checkbox>
</section>

<section class="full-width">
  <mat-checkbox [(ngModel)]="other">Other</mat-checkbox>
</section>

<mat-form-field class="full-width" appearance="outline" *ngIf="other">
  <mat-label>Other Chars</mat-label>
  <input matInput type="text" [(ngModel)]="otherChars">
</mat-form-field>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Password Length</mat-label>
  <input matInput type="number" [(ngModel)]="passwordLength">
</mat-form-field>

<mat-form-field class="full-width" appearance="outline">
  <mat-label>Passwords Number</mat-label>
  <input matInput type="number" [(ngModel)]="passwordsNumber">
</mat-form-field>

<mat-form-field class="full-width passwords" appearance="outline" floatLabel="always">
  <mat-label>Passwords</mat-label>
  <textarea matInput rows="10" [(ngModel)]="passwords"></textarea>
</mat-form-field>

<button mat-raised-button class="full-width" color="primary" (click)="generate()">Generate</button>
