
<mat-form-field appearance="fill" class="full-width">
  <mat-label>Social Links</mat-label>
  <mat-select [(ngModel)]="social" (selectionChange)="onChange()">
    <mat-option *ngFor="let social of socials" [value]="social">
      {{ social }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ul>
  <li>
    <mat-checkbox [(ngModel)]="trimInput" (input)="onChange()">trimInput</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [(ngModel)]="allowQueryParams" (input)="onChange()">allowQueryParams</mat-checkbox>
  </li>
</ul>

<mat-radio-group
  aria-labelledby="Select link type"
  class="radio-group"
  [(ngModel)]="type"
  (change)="onChange()">
  <mat-radio-button [value]="0">default</mat-radio-button>
  <mat-radio-button [value]="1">desktop</mat-radio-button>
  <mat-radio-button [value]="2">mobile</mat-radio-button>
</mat-radio-group>

<mat-form-field class="full-width" appearance="outline" *ngIf="social">
  <mat-label>{{ social }}</mat-label>
  <input matInput
    [(ngModel)]="value"
    type="text"
    (input)="onChange()">
</mat-form-field>

<pre>{{ result | json }}</pre>

<a href="{{ result[social].sanitized }}" target="_blank">{{ result[social].sanitized }}</a>
