
<div class="container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <mat-icon mat-button
        class="menu-icon"
        aria-hidden="false"
        aria-label="Menu"
        (click)="drawer.toggle()">menu</mat-icon>

      <span class="toolbar-title" routerLink="/">Web Tools</span>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="tools-container" autosize>
    <mat-drawer #drawer mode="side" opened>
      <app-menu></app-menu>
    </mat-drawer>

    <div class="tools-content">
      <div class="inside">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>

</div>
